{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block style %}
<style>
#ToTopButton{
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
}
</style>
    
{% endblock %}
{% block context %}
 <!-- Container (Services Section) -->
 <div id="services" class="container-fluid text-center w3-white w3-padding-64">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>

    <div class="row slideanim">
        <div class="col-sm-4">
            <div class="card">
                <i class="fas fa-thumbs-up fa-5x my-3"></i>
                <h4>영화추천</h4>
                <p>당신에게 맞는 영화를 추천해드려요</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <i class="fas fa-clone fa-5x my-3"></i>
                <h4>영화리뷰</h4>
                <p>다른사람들의 리뷰를 볼수있어요</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <i class="fas fa-globe fa-5x my-3"></i>
                <h4>커뮤니티</h4>
                <p>당신의 생각을 공유하세요</p>
            </div>
        </div>

    </div>
</div>
        <!-- 로그인 & 회원가입 & 영화리스트? -->
<div class="container-fluid text-center  mb-5 w3-padding-64" style="background-color: lightslategray;">
    <h2>JOIN US NOW</h2>
    <br>
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div class="w3-card w3-container w3-light-grey d-flex flex-column justify-content-center" style="min-height:300px">
                <h3 class="mt-3">로그인</h3><br>
                <a href="{% url 'accounts:login' %}">
                    <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" style="font-weight:900;">LOGIN</button>
                </a> 
            </div>
        </div>
            
        <div class="w3-third">
            <div class="w3-card w3-container w3-light-grey d-flex flex-column justify-content-center" style="min-height:300px">
                <h3 class="mt-3">회원가입</h3><br>
                <a href="{% url 'accounts:signup' %}">
                    <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" style="font-weight:900;">SIGNUP</button>
                </a>
            </div>
        </div>
            
        <div class="w3-third">
            <div class="w3-card w3-container w3-light-grey d-flex flex-column justify-content-center" style="min-height:300px">
                <h3 class="mt-3">SCAFY</h3><br>
                <a href="{% url 'community:community' %}">
                    <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" style="font-weight:900;">COMMUNITY</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        // TOP Button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 500) {
                $('#ToTopButton').fadeIn();
            } else {
                $('#ToTopButton').fadeOut();
            }
        });

    $("#ToTopButton").click(function(event) {
        $('html, body').animate({
            scrollTop: 0
        }, 400);
        return false
    })
    })
</script>
{% endblock %}