{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}

{% block context %}
<img src="https://image.tmdb.org/t/p/w154/{{ movie.poster_path }}" alt="Alps">
{{ movie.title }}
<form action="{% url 'movies:review_create' movie.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button>작성</button>
</form>
<hr>
{{ reviews|length }}의 댓글
<hr>
{% for review in reviews %}
    <p>{{ review.rank }}</p>
    {% if request.user in review.liked_users.all %}
        <i class="fas fa-heart fa-lg like-button" style="color:crimson" data-id="{{ review.pk }}" data-movie-id="{{ movie.pk }}"></i>
    {% else %}
        <i class="fas fa-heart fa-lg like-button" style="color:black" data-id="{{ review.pk }}" data-movie-id="{{ movie.pk }}"></i>
    {% endif %}
    <p>{{ review.author }} : {{ review.content }}</p>
    <p>좋아요 : <span id="like-count-{{ review.pk }}">{{ review.liked_users.all|length }}</span></p>
    <small>
        <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
        <button style="border:0; background-color: transparent" class="text-decoration-none">삭제</button>
        </form>
    </small>
    <hr>
{% empty %}
    <p>새 리뷰를 작성해주세요</p>
{% endfor %}

<script>
  const likeButtonList = document.querySelectorAll('.like-button')

  likeButtonList.forEach((likeButton) => {
    likeButton.addEventListener('click', function(event){
      const reviewId = event.target.dataset.id
      const movieId = event.target.dataset.movieId

      axios.get(`/movies/${movieId}/review/${reviewId}/like/`)

      .then((response) => {
        // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
        document.querySelector(`#like-count-${reviewId}`).innerText = response.data.count

        if (response.data.liked) {
          event.target.style.color = 'crimson'
        } else {
          event.target.style.color = 'black'
        }
      })
      .catch((error) => {
        console.log(error)
      })
    })
  })
</script>

{% endblock %}