{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
Movie
{% endblock %}



{% block style %}
<style>

#content{
  resize: none;
}

</style>
{% endblock %}



{% block context %}
<div class="container mt-5">
  
  <h4><a href="{%url 'movies:index' %}" class="text-dark"><i class="fas fa-angle-double-left"> </i></a>
    <i class="fas"> 영화 상세 </i></h4>
  <hr>
  <div class="container d-flex">
        <!-- 영화 포스터 -->
        <span>
          <!-- w185xh278 -->
          <img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" 
              style="width: 185px; height: 278px; overflow:hidden;"
              alt="Alps">
        </span>
        
        <!-- 영화 정보 -->
        <div class=" ml-4 mt-3 flex-fill">
            <!-- 제목 -->
            <div class="d-flex justify-content-between mb-2">
                <h4>{{ movie.title }}</h4>
                <!-- 좋아요 -->
                <div>
                {% if request.user in movie.liked_users.all %}
                    <i class="fas fa-heart fa-lg movie_like-button" style="color:crimson" data-id="{{ movie.pk }}"></i>
                    <span id="movie_like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                {% else %}
                    <i class="fas fa-heart fa-lg movie_like-button" style="color:black" data-id="{{ movie.pk }}"></i>
                    <span id="movie_like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                {% endif %}
                </div>
            </div>

            <!-- origin제목 & 평점 -->
            <div class="mb-1">
              <span><small>{{ movie.original_title }}</small></span> |
              <span><i class="fas fa-star fa-sm" style="color:crimson"> {{ movie.vote_average }}</i></span>
            </div>

            <!-- 장르, 국가 -->
            <div class="mb-1">
                <span id="genre">
                  {% for genre in movie.genres.all %}
                    {{ genre.name }}
                  {% endfor %}
                </span> |

                <span id="language">
                  {{ movie.original_language }}
                </span>
            </div>

            <!-- 개봉일 -->
            <div class="mb-3">
              <span>{{ movie.release_date }} 개봉 </span>
            </div>
            <!-- 예고편 -->
            <a href="" class="btn btn-primary">예고편</a>
        </div>  
  </div>

  <!-- 영화 줄거리 -->
  <div class="row mt-4 d-flex flex-column">
    <div class="block"><i class="fas"> 줄거리</i></div>
    <hr>
    <p>{{ movie.overview }}</p>
  </div>


  <!-- 댓글 작성 -->
  <i class="fas mt-3"> 내 평점 등록 </i>
  <hr>
  <form action="{% url 'movies:review_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}   
      <input type="submit" value="등록" id="submit">
  </form>

  <!-- 댓글 조회 -->
  <div class="mt-4">
  <span><i class="fas fa-star fa-lg" style="color:crimson"> {{ movie.vote_average }}</i></span> 
  <span><i class="fas"> (총 {{ reviews|length }}의 댓글) </i></span>
  </div>
  <hr>
  {% for review in reviews %}
      <div class="d-flex justify-content-between">
        <div>
        <span><strong>{{ review.author }} </strong></span>
        <span class="rank_star">{{ review.rank_star }}</span>
        </div>
        <div>
          {% if request.user in review.liked_users.all %}
              <i class="far fa-thumbs-up fa-lg like-button" style="color:#0077ff" data-id="{{ review.pk }}" data-movie-id="{{ movie.pk }}">
                <span id="like-count-{{ review.pk }}" style="color:black">{{ review.liked_users.all|length }}</span>
              </i>
          {% else %}
              <i class="far fa-thumbs-up fa-lg like-button" style="color:black" data-id="{{ review.pk }}" data-movie-id="{{ movie.pk }}">
                <span id="like-count-{{ review.pk }}" style="color:black">{{ review.liked_users.all|length }}</span>
              </i>
          {% endif %}
        </div>
      </div>
      

      <p class="my-3">{{ review.content }}</p>
      <div class="d-flex justify-content-between">
        <p>{{ review.created_at }}</p>
        <div>
          <a href="{% url 'movies:review_update' movie.pk review.pk %}"><small class="text-decoration-none text-dark">수정</small></a>
          <small>
            <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="POST" class="d-inline">
                {% csrf_token %}
            <button style="border:0; background-color: transparent" class="text-decoration-none">삭제</button>
            </form>
        </small>
        </div>
      </div> 
      
      <hr>
  {% empty %}
      <p>새 리뷰를 작성해주세요</p>
  {% endfor %}
</div>

<script>
  // 장르
  var genres = document.getElementById('genre').innerText
  document.getElementById('genre').innerText = genres.split(" ")[0] 
  
  // 국가
  const contries = {
    'ja': '일본',
    'en': '미국',
    'fr': '프랑스',
    'sv': '엘셀바도르',
    'ru': '러시아',
    'ko': '한국',
    'it': '이탈리아',
    'pt': '포르투갈',
    'cn': '중국',
    'es': '스페인',
    'hi': '인도',
    'cs': '체코',
    'zh': '중국',
    'da': '덴마크',
    'ar': '아르헨티나',
    'id': '인도네시아',
    'el': '그리스',
    'th': '태국',
    'tr': '터키',
    'de': '독일',
    'fa': '이란',
    'no': '노르웨이',
    'ml': '인도',
    'pl': '폴란드',
    'uk': '우크라이나',
  }
  const language = document.getElementById('language').innerText
  document.getElementById('language').innerText = contries[language]

  // 별점
  const ranks = document.querySelectorAll('.rank_star')
  console.log(ranks, typeof(ranks))
  ranks.forEach((rank) => {
      console.log(rank.innerText)
      var InputStar = ""
      
      if (rank.innerText == "1") {
        InputStar = "★☆☆☆☆"
      } else if (rank.innerText == "2") {
        InputStar = "★★☆☆☆"
      } else if (rank.innerText == "3") {
        InputStar ="★★★☆☆"
      } else if (rank.innerText == '4') {
        InputStar = "★★★★☆"
      } else if (rank.innerText == '5') {
        InputStar = "★★★★★"
      }
      console.log(InputStar)
      
  })

  // 영화 좋아요
  const movieLikeButton = document.querySelector('.movie_like-button')
  
  movieLikeButton.addEventListener('click', function(event){
    const movieId = event.target.dataset.id

    axios.get(`/movies/${movieId}/like/`)

    .then((response) => {
      // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
      document.querySelector(`#movie_like-count-${movieId}`).innerText = response.data.count

      if (response.data.movie_liked) {
        event.target.style.color = 'crimson'
      } else {
        event.target.style.color = 'black'
      }
    })
    .catch((error) => {
      console.log(error)
    })
  })
  
  
  // 댓글 좋아요
  const likeButtonList = document.querySelectorAll('.like-button')

  likeButtonList.forEach((likeButton) => {
    likeButton.addEventListener('click', function(event){
      const reviewId = event.target.dataset.id
      const movieId = event.target.dataset.movieId

      axios.get(`/movies/${movieId}/review/${reviewId}/like/`)
      .then((response) => {
        // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
        document.querySelector(`#like-count-${reviewId}`).innerText = response.data.count

        if (response.data.liked) {
          event.target.style.color = '#0077ff'
        } else {
          event.target.style.color = 'black'
        }
      })
      .catch((error) => {
        console.log(error)
      })
    })
  })
</script>

{% endblock %}