{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Community{% endblock %}


{% block style %}
<style>
#content{
    resize: none;
    height: 100px;
  }
  

</style>

{% endblock %}

{% block context %}
    <div class="container mt-5">
    <h2>평점 수정</h2>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        <button class="w3-button"  style="background-color: #4c6b8d; color:white;">평점 수정</button>
    
    </form>
    </div>
{% endblock %}