{% load static %}
{% load bootstrap4 %}

{% for movie in page_obj %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 movie_card">
        <div class="card h-100">
          <!-- 영화 이미지 -->
          <a href="{% url 'movies:detail' movie.pk %}">
            {% if movie.poster_path %}
            <img src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" alt="{{ movie.title }}" class=" card-img-top ReSizeImage">
            {% else %}
            <img src="{% static 'image/noimage_index.png' %}" alt="{{ movie.title }}" class=" card-img-top ReSizeImage border border-gray">
            {% endif %}
          </a>
        
          <!-- 영화 제목, 좋아요, 평점, 개봉일 -->
          <div class="card-body">
            <!-- 영화 제목 -->
            <a href="{% url 'movies:detail' movie.pk %}" ><h5 class="font-weight-bold text-dark movie_title" >{{ movie.title }}</h5></a>
            <!-- 개봉일 -->
            <p class="mt-2 mb-0"><small>{{ movie.release_date|date:"Y-m-d" }} 개봉</small></p>
            <hr>
            <div class="container-fluid">
              <div class="d-flex justify-content-between pt-3 ">
                  <!-- 영화 평점 -->
                  <div>
                  <span><i class="fas fa-star fa-lg" style="color:crimson">{{ movie.vote_average }}</i></span>
                  </div>
                  <!-- 영화 좋아요 -->
                  <div>
                    {% if request.user in movie.liked_users.all %}
                      {% if request.user.is_authenticated %}
                          <i class="fas fa-heart new-like-button fa-lg align-self-center" style="color:crimson" data-id="{{ movie.pk }}"></i>
                      {% else %}
                          <i class="fas fa-heart fa-lg align-self-center" style="color:crimson" onclick="alert('로그인이 필요합니다.')"></i>
                      {% endif %}
                    {% else %}
                      {% if request.user.is_authenticated %}
                          <i class="fas fa-heart new-like-button fa-lg align-self-center" style="color:black" data-id="{{ movie.pk }}"></i>
                      {% else %}
                          <i class="fas fa-heart fa-lg align-self-center" style="color:black" onclick="alert('로그인이 필요합니다.')"></i>
                      {% endif %}
                    {% endif %}
                    <span id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                  </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
    {% endfor %}
{% block script %}
<script>
  $(document).ready(function(){
      $('.ReSizeImage').each(function(){
          var width = $(this).innerWidth()
          var ratio = 1.5
          $(this).innerHeight(width*ratio)

      })
      // 카드 제목 높이 조절
      // 1. 최대 길이를 찾는다
      var title_height = 0
      $(".movie_title").each(function(){
        if ($(this).height() > title_height){
          title_height = $(this).height()
        }
      })
      // 모든 카드에 제목의 최대길이로 설정
      $(".movie_title").each(function(){
        $(this).css("height", title_height)
      })
      // 화면 크기가 변할때마다 사이즈 재설정
      $(window).resize(function(){
        $('.ReSizeImage').each(function(){
              var width = $(this).innerWidth()
              var ratio = 1.5
              $(this).innerHeight(width*ratio)
            })

        var title_height = 0
        $(".movie_title").each(function(){
          $(this).removeAttr("style")
        })
        $(".movie_title").each(function(){
          console.log($(this).height())
          if ($(this).height() > title_height){
            title_height = $(this).height()
          }
        })
        console.log(title_height)
        // 모든 카드에 제목의 최대길이로 설정
        $(".movie_title").each(function(){
          $(this).css("height", title_height)
        })
      })
    })
  $(".new-like-button").bind('click',function(event){
      movieId = event.target.dataset.id
      axios.get(`/movies/${movieId}/like/`)

      .then((response) => {
        // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
        document.querySelector(`#like-count-${movieId}`).innerText = response.data.count

        if (response.data.movie_liked) {
          event.target.style.color = 'crimson'
        } else {
          event.target.style.color = 'black'
        }
      })
      .catch((error) => {
        console.log(error)
      })
    }).unbind('click');
  </script>
{% endblock %}