{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block title %}
{% endblock %}

{% block context %}
<div class="d-flex justify-content-between"> 
    <h5>
        <i class="fas"> 전체 영화 </i>
    </h5>    
</div>
<hr>
{{ movies }}
<!-- 영화 목록 - poster_path, adult, title, vote_average, released_date -->
<ul class="w3-row-padding w3-section w3-stretch">
  {% for movie in page_obj %}
    <li class="w3-card-2 w3-col s12 m6 l4 p-0 mx-1 my-3" style="list-style: none;">
      <div>
        <a href="{% url 'movies:detail' movie.pk %}">
          <img src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" width="100%">
        </a>
      </div>
      <div>
        <a href="{% url 'movies:detail' movie.pk %}" class="font-weight-bold">{{ movie.title }}</a>
        {% if request.user in movie.liked_users.all %}
            <i class="fas fa-heart fa-lg like-button" style="color:crimson" data-id="{{ movie.pk }}"></i>
        {% else %}
            <i class="fas fa-heart fa-lg like-button" style="color:black" data-id="{{ movie.pk }}"></i>
        {% endif %}
        <p>좋아요 : <span id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span></p>
      </div>
    </li>
  {% endfor %}

</ul>

<!-- Pagination -->
<div class="d-flex justify-content-center">
    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
</div>

<script>
    const likeButtonList = document.querySelectorAll('.like-button')
  
    likeButtonList.forEach((likeButton) => {
      likeButton.addEventListener('click', function(event){
        const movieId = event.target.dataset.id
  
        axios.get(`/movies/${movieId}/like/`)
  
        .then((response) => {
          // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
  
          if (response.data.liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
        })
        .catch((error) => {
          console.log(error)
        })
      })
    })
  </script>
{% endblock %}