{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}
{% load static %}

{% block title %}
{% endblock %}

{% block style %}
{% endblock %}


{% block context %}
<div class="container mt-5 mb-3 pb-3 d-flex justify-content-between w3-border-bottom"> 
    <h3><i class="fas"> 전체 영화 </i></h3>
    <div class="align-self-end">
      <a href="{% url 'movies:index_sort' 'rank' %}" class="mr-2 text-dark"><i class="fas fa-check">평점순</i></a> 
      <a href="{% url 'movies:index_sort' 'release' %}" class="mr-2 text-dark"><i class="fas fa-check">개봉순</i></a>
    </div>    
</div>

{{ movies }}
<!-- 영화 목록 - poster_path, adult, title, vote_average, released_date -->
<div class="container">
  <div class="row">
    {% for movie in page_obj %}
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
          <a href="{% url 'movies:detail' movie.pk %}">
            {% if movie.poster_path %}
            <img src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" alt="{{ movie.title }}" class=" card-img-top ReSizeImage">
            {% else %}
            <img src="{% static 'image/noimage_index.png' %}" alt="{{ movie.title }}" class=" card-img-top ReSizeImage">
            {% endif %}
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                  <a href="{% url 'movies:detail' movie.pk %}" class="font-weight-bold">{{ movie.title }}</a>
                  <span><i class="fas fa-star fa-sm" style="color:crimson"> {{ movie.vote_average }}</i></span>
                </div>
                <div>
                {% if request.user in movie.liked_users.all %}
                    <i class="fas fa-heart fa-lg like-button" style="color:crimson" data-id="{{ movie.pk }}"></i>
                    <span id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                {% else %}
                    <i class="fas fa-heart fa-lg like-button" style="color:black" data-id="{{ movie.pk }}"></i>
                    <span id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                {% endif %}
                </div>
            </div>
            <!-- 개봉일 -->
            <p class="mt-2 mb-0"><small>{{ movie.release_date|date:"Y-m-d" }} 개봉</small></p>
              
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Pagination -->
<div class="d-flex justify-content-center">
    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
</div>

<script>
  // 이미지 사이즈 조절
    $(document).ready(function(){
        $('.ReSizeImage').each(function(){
            var width = this.width
            var ratio = 1.5
            $(this).css("height", width*ratio)

        })
    })
    // 좋아요
    const likeButtonList = document.querySelectorAll('.like-button')
  
    likeButtonList.forEach((likeButton) => {
      likeButton.addEventListener('click', function(event){
        const movieId = event.target.dataset.id
  
        axios.get(`/movies/${movieId}/like/`)
  
        .then((response) => {
          // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
  
          if (response.data.movie_liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
        })
        .catch((error) => {
          console.log(error)
        })
      })
    })
  </script>
{% endblock %}