{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
{% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .movie-title {
        height: 44px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    hr {
        background-color: white;
        margin-top: 0px;
    }
</style>
{% endblock %}

{% block style %}
<style>
#ToTopButton{
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
}
</style>
    
{% endblock %}

{% block context %}

    {% if request.user.is_authenticated %}
        <div class="mb-4">
            <div class="d-flex">
            <h3 class="mb-0"><i class="fas">추천 영화</i></h3>
            {% if not liked %}
            <div class="ml-auto">
                <p class="d-inline-block mr-2">영화를 <span style="color: crimson;">좋아요</span> 하면 관련있는 영화를 추천받을 수 있습니다.</p>
                <a class="w3-button w3-teal text-decoration-none" href="{% url 'movies:index' %}">찾아보러 가기</a>
            </div>
            {% endif %}
            </div>
            <div class="container RecommendMovie d-flex mx-0 px-0"  style=" overflow-x: scroll;">
                {% for movie in recommends %}
                <div class="main-card" style="margin-right: 1px;">
                    <a href="{% url 'movies:detail' movie.pk %}">
                        <!-- <figure> -->
                            {% if movie.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" 
                                alt="{{ movie.title }}" 
                                style="width: 154px; height: 231px;" 
                                class="border border-secondary"
                            >
                            {% else %}
                            <img src="{% static 'image/noimage_index.png' %}" 
                                alt="{{ movie.title }}" 
                                style="width: 154px; height: 231px;" 
                                class="border border-secondary"
                            >
                            {% endif %}
                        <!-- </figure> -->
                    </a>
                    <div class="bg-dark p-2 d-flex flex-column justify-content-between" style="height: 114px;">
                        <div class="my-auto">
                            <a class="d-block text-center text-decoration-none text-white movie-title" href="{% url 'movies:detail' movie.pk %}">
                                <span class="my-auto">{{ movie.title }}</span>
                            </a>
                        </div>
                        <div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <!-- 영화 평점 -->
                                <div>
                                <span><i class="fas fa-star fa-sm" style="color:crimson"> {{ movie.vote_average }}</i></span>
                                </div>
                                <!-- 영화 좋아요 -->
                                <div>
                                {% if request.user in movie.liked_users.all %}
                                    {% if request.user.is_authenticated %}
                                        <i class="fas fa-heart like-button fa-sm align-self-center" style="color:crimson" data-id="{{ movie.pk }}"></i>
                                    {% else %}
                                        <i class="fas fa-heart fa-sm align-self-center" style="color:crimson" onclick="alert('로그인이 필요합니다.')"></i>
                                    {% endif %}
                                {% else %}
                                    {% if request.user.is_authenticated %}
                                        <i class="fas fa-heart like-button fa-sm align-self-center" style="color:white" data-id="{{ movie.pk }}"></i>
                                    {% else %}
                                        <i class="fas fa-heart fa-sm align-self-center" style="color:white" onclick="alert('로그인이 필요합니다.')"></i>
                                    {% endif %}
                                {% endif %}
                                <span class="text-white" id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="mb-4">
        <div class="d-flex my-2">
        <h3 class="mb-0"><i class="fas">인기 영화</i></h3>
            
        </div>
        <div class="container RecommendMovie d-flex mx-0 px-0"  style=" overflow-x: scroll;">
            {% for movie in popular_movies %}
            <div class="main-card" style="margin-right: 1px;">
                <a href="{% url 'movies:detail' movie.pk %}">
                    <!-- <figure> -->
                        {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" 
                            alt="{{ movie.title }}" 
                            style="width: 154px; height: 231px;" 
                            class="border border-secondary"
                        >
                        {% else %}
                        <img src="{% static 'image/noimage_index.png' %}" 
                            alt="{{ movie.title }}" 
                            style="width: 154px; height: 231px;" 
                            class="border border-secondary"
                        >
                        {% endif %}
                    <!-- </figure> -->
                </a>
                <div class="bg-dark p-2 d-flex flex-column justify-content-between" style="height: 114px;">
                    <div class="my-auto">
                        <a class="d-block text-center text-decoration-none text-white movie-title" href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
                    </div>
                    <div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <!-- 영화 평점 -->
                            <div>
                            <span><i class="fas fa-star fa-sm" style="color:crimson"> {{ movie.vote_average }}</i></span>
                            </div>
                            <!-- 영화 좋아요 -->
                            <div>
                            {% if request.user in movie.liked_users.all %}
                                {% if request.user.is_authenticated %}
                                    <i class="fas fa-heart like-button fa-sm align-self-center" style="color:crimson" data-id="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-heart fa-sm align-self-center" style="color:crimson" onclick="alert('로그인이 필요합니다.')"></i>
                                {% endif %}
                            {% else %}
                                {% if request.user.is_authenticated %}
                                    <i class="fas fa-heart like-button fa-sm align-self-center" style="color:white" data-id="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-heart fa-sm align-self-center" style="color:white" onclick="alert('로그인이 필요합니다.')"></i>
                                {% endif %}
                            {% endif %}
                            <span class="text-white" id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <div class="d-flex my-2">
        <h3 class="mb-0"><i class="fas">새로운 영화</i></h3>
            
        </div>
        <div class="container RecommendMovie d-flex mx-0 px-0"  style=" overflow-x: scroll;">
            {% for movie in new_movies %}
            <div class="main-card" style="margin-right: 1px;">
                <a href="{% url 'movies:detail' movie.pk %}">
                    <!-- <figure> -->
                        {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" 
                            alt="{{ movie.title }}" 
                            style="width: 154px; height: 231px;" 
                            class="border border-secondary"
                        >
                        {% else %}
                        <img src="{% static 'image/noimage_index.png' %}" 
                            alt="{{ movie.title }}" 
                            style="width: 154px; height: 231px;" 
                            class="border border-secondary"
                        >
                        {% endif %}
                    <!-- </figure> -->
                </a>
                <div class="bg-dark p-2 d-flex flex-column justify-content-between" style="height: 114px;">
                    <div class="my-auto">
                        <a class="d-block text-center text-decoration-none text-white movie-title" href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
                    </div>
                    <div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <!-- 영화 평점 -->
                            <div>
                            <span><i class="fas fa-star fa-sm" style="color:crimson"> {{ movie.vote_average }}</i></span>
                            </div>
                            <!-- 영화 좋아요 -->
                            <div>
                            {% if request.user in movie.liked_users.all %}
                                {% if request.user.is_authenticated %}
                                    <i class="fas fa-heart like-button fa-sm align-self-center" style="color:crimson" data-id="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-heart fa-sm align-self-center" style="color:crimson" onclick="alert('로그인이 필요합니다.')"></i>
                                {% endif %}
                            {% else %}
                                {% if request.user.is_authenticated %}
                                    <i class="fas fa-heart like-button fa-sm align-self-center" style="color:white" data-id="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-heart fa-sm align-self-center" style="color:white" onclick="alert('로그인이 필요합니다.')"></i>
                                {% endif %}
                            {% endif %}
                            <span class="text-white" id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <h3 class="mb-0"><i class="fas">이런 영화는 어떠세요?</i></h3>
        <div class="container RandomMovie d-flex mx-0 px-0" style=" overflow-x: scroll;">
            {% for movie in movies %}
            <div class="main-card" style="margin-right: 1px;">
                <a href="{% url 'movies:detail' movie.pk %}">
                    <!-- <figure> -->
                        {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" 
                            alt="{{ movie.title }}" 
                            style="width: 154px; height: 231px;" 
                            class="border border-secondary"
                        >
                        {% else %}
                        <img src="{% static 'image/noimage_index.png' %}" 
                            alt="{{ movie.title }}" 
                            style="width: 154px; height: 231px;" 
                            class="border border-secondary"
                        >
                        {% endif %}
                    <!-- </figure> -->
                </a>
                <div class="bg-dark p-2 d-flex flex-column justify-content-between" style="height: 114px;">
                    <div class="my-auto">
                        <a class="d-block text-center text-decoration-none text-white movie-title" href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
                    </div>
                    <div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <!-- 영화 평점 -->
                            <div>
                            <span><i class="fas fa-star fa-sm" style="color:crimson"> {{ movie.vote_average }}</i></span>
                            </div>
                            <!-- 영화 좋아요 -->
                            <div>
                            {% if request.user in movie.liked_users.all %}
                                {% if request.user.is_authenticated %}
                                    <i class="fas fa-heart like-button fa-sm align-self-center" style="color:crimson" data-id="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-heart fa-sm align-self-center" style="color:crimson" onclick="alert('로그인이 필요합니다.')"></i>
                                {% endif %}
                            {% else %}
                                {% if request.user.is_authenticated %}
                                    <i class="fas fa-heart like-button fa-sm align-self-center" style="color:white" data-id="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-heart fa-sm align-self-center" style="color:white" onclick="alert('로그인이 필요합니다.')"></i>
                                {% endif %}
                            {% endif %}
                            <span class="text-white" id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){

    // 추천영화 스크롤
	RecommendmoveScrollLeft = function() {
    var _scrollX = $('.RecommendMovie').scrollLeft();
    $('.RecommendMovie').scrollLeft(_scrollX);
    };
    RandommoveScrollLeft = function() {
    var _scrollX = $('.RandomMovie').scrollLeft();
    $('.RandomMovie').scrollLeft(_scrollX);
    };


    // Top Button
    $(window).scroll(function() {
            if ($(this).scrollTop() > 500) {
                $('#ToTopButton').fadeIn();
            } else {
                $('#ToTopButton').fadeOut();
            }
        });

    $("#ToTopButton").click(function(event) {
        $('html, body').animate({
            scrollTop: 0
        }, 400);
        return false
    })
})
$('.like-button').on('click',function(event){
      const movieId = event.target.dataset.id
      if (movieId !== undefined) {
        axios.get(`/movies/${movieId}/like/`)

        .then((response) => {

          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count

          if (response.data.movie_liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'white'
          }
        })
        .catch((error) => {
          console.log(error)
        })
      }
    })
</script>
{% endblock %}