{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
{% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block style %}
<style>
#ToTopButton{
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
}
</style>
    
{% endblock %}

{% block context %}

    {% if request.user.is_authenticated %}
        <div class="container border border-dark">
            <div class="d-flex my-2">
            <h3 class="mb-0"><i class="fas">추천 영화</i></h3>
            {% if not liked %}
            <div class="ml-auto">
                <span>영화를 좋아요 하면 더 관련있는 영화를 추천받을 수 있습니다.</span>
                <a class="w3-button w3-teal" href="{% url 'movies:index' %}">찾아보러 가기</a>
            </div>
            {% endif %}
            </div>
            <div class="container RecommendMovie d-flex mx-0 px-0"  style=" overflow-x: scroll;">
                {% for recommend in recommends %}
                <a href="{% url 'movies:detail' recommend.pk %}">
                    {% if recommend.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w154{{ recommend.poster_path }}" 
                        alt="{{ recommend.title }}" 
                    >
                    {% else %}
                    <img src="{% static 'image/noimage_index.png' %}" 
                        alt="{{ recommend.title }}" 
                        style="height: 231px;"
                    >
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container border border-dark">
        <div class="d-flex my-2">
        <h3 class="mb-0"><i class="fas">인기 영화</i></h3>
            
        </div>
        <div class="container RecommendMovie d-flex mx-0 px-0"  style=" overflow-x: scroll;">
            {% for movie in popular_movies %}
            <a href="{% url 'movies:detail' movie.pk %}">
                <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" 
                    alt="{{ movie.title }}" 
                >
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="container border border-dark">
        <div class="d-flex my-2">
        <h3 class="mb-0"><i class="fas">새로운 영화</i></h3>
            
        </div>
        <div class="container RecommendMovie d-flex mx-0 px-0"  style=" overflow-x: scroll;">
            {% for movie in new_movies %}
            <a href="{% url 'movies:detail' movie.pk %}">
                {% if movie.poster_path %}
                <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" 
                    alt="{{ movie.title }}" 
                >
                {% else %}
                <img src="{% static 'image/noimage_index.png' %}" 
                    alt="{{ movie.title }}" 
                    style="height: 231px;"
                >
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="container border border-dark">
        <h3>이런 영화는 어떠세요?</h3>
        <div class="container RandomMovie d-flex mx-0 px-0" style=" overflow-x: scroll;">
            {% for movie in movies %}
            <a href="{% url 'movies:detail' movie.pk %}" class="cd">
                {% if movie.poster_path %}
                <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" 
                    alt="{{ movie.title }}" 
                    >
                {% else %}
                <img src="{% static 'image/noimage_index.png' %}" 
                    alt="{{ movie.title }}" 
                    style="height: 231px;"
                    >
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){

    // 추천영화 스크롤
	RecommendmoveScrollLeft = function() {
    var _scrollX = $('.RecommendMovie').scrollLeft();
    $('.RecommendMovie').scrollLeft(_scrollX);
    };
    RandommoveScrollLeft = function() {
    var _scrollX = $('.RandomMovie').scrollLeft();
    $('.RandomMovie').scrollLeft(_scrollX);
    };


    // Top Button
    $(window).scroll(function() {
            if ($(this).scrollTop() > 500) {
                $('#ToTopButton').fadeIn();
            } else {
                $('#ToTopButton').fadeOut();
            }
        });

    $("#ToTopButton").click(function(event) {
        $('html, body').animate({
            scrollTop: 0
        }, 400);
        return false
    })
})
</script>
{% endblock %}