{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Community{% endblock %}

{% block style %}
<style>
#content{
    resize: none;
    height: 80px;
  }
  

</style>

{% endblock %}


{% block context %}
<div class="container mt-5">
    <div class="d-flex justify-content-between"> 
        <h5>
            <a href="{%url 'community:community' %}" class="text-dark"><i class="fas fa-angle-double-left"></i></a>
            <!-- <a href="{%url 'community:community' %}" class="text-dark">커뮤니티</a> -->
            <i class="fas"> 전체 게시판 </i>
        </h5>
    </div>
    <hr class="mt-2 mb-3">

    <!-- 게시글 -->
    <div>
        <div class="d-flex justify-content-between">
            <h4 class="font-weight-bold mb-3">{{ article.title }}</h4>
            <div>
                {% if request.user in article.liked_users.all %}
                    <span><i class="fas fa-star fa-lg like-article-button" style="color: rgb(31, 185, 0)" data-id="{{ article.pk }}"></i></span>
                    <small id="like-article-count-{{ article.pk }}" style="color:black">(스크랩 : {{ article.liked_users.all|length }})</small>
                                    
                {% else %}
                    <span><i class="fas fa-star fa-lg like-article-button" style="color:black" data-id="{{ article.pk }}"></i></span>
                    <small id="like-article-count-{{ article.pk }}" style="color:black">(스크랩 : {{ article.liked_users.all|length }})</small>
                    
                {% endif %}
                </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <p class="text-muted m-0"><small>{{ article.created_at }} 작성</small></p>
                {% if article.updated %}
                <p class="text-muted m-0"><small>{{ article.updated_at }} 수정</small></p>
                {% endif %}
            </div>
            <div>
                <span class="text-muted"><small>조회 수 {{ article.hits }}</small></span>
                
            </div>
            

            
        </div>
        <hr class="mt-0 mb-3">
        <p>{{ article.content }}</p>
        <!-- 게시글 수정&삭제 버튼 -->
        <div class="d-flex justify-content-end">
        {% if article.author == request.user %}
            <small><a href="{% url 'community:update_article' article.pk %}" class="text-dark">수정</a></small>
            <small>
                <form action="{% url 'community:delete_article' article.pk %}" method="POST" class="d-inline">
                    {% csrf_token %}
                <button style="border:0; background-color: transparent" class="text-decoration-none">삭제</button>
                </form>
            </small>
        {% endif %}
        </div>
    </div>
    

    <!-- 댓글 -->
    <hr>
    <!-- 댓글 작성 -->
    <form action="{% url 'community:create_comment' article.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button id="submit" class="col-12 col-md-2 w3-button w3-teal">댓글 작성</button>
    </form>


    <!-- 댓글 목록 -->
    <p class="mt-4"><strong>{{ comments|length }}</strong>개의 댓글</p>
    <hr>
    {% for comment in comments %}
        <!-- 날짜 & 댓글 수정, 삭제 -->
        <div class="d-flex justify-content-between">
        <p>{{ comment.author }} 
            <small class="text-muted"> 
                {% if comment.updated_at|date:"Y-m-d" == nowDate %}
                    | {{ comment.updated_at | date:"H:i" }}
                {% else %}
                    | {{ comment.updated_at | date:"Y-m-d" }}
                {% endif %}
            </small>
        </p>
        {% if comment.author == request.user %}
        <div>
            <!-- <small><a href="{% url 'community:update_comment' article.pk comment.pk %}" class="text-dark">수정</a></small> -->
            {% if comment.updated %}
            <small class="text-muted">{{ comment.updated_at }} (수정됨)</small>
            {% endif %}
            <small><a href="{% url 'community:update_comment' article.pk comment.pk %}" class="text-dark">수정</a></small>
            <small>
                <form action="{% url 'community:delete_comment' article.pk comment.pk %}" method="POST" class="d-inline">
                    {% csrf_token %}
                <button style="border:0; background-color: transparent" class="text-decoration-none">삭제</button>
                </form>
            </small>
        </div>
        {% endif %}
        </div>
        <p>{{ comment.content }}</p>
        {% if request.user in comment.liked_users.all %}
            <span><i class="far fa-thumbs-up fa-lg like-comment-button" style="color: #0077ff" data-id="{{ comment.pk }}" data-article-id="{{ article.pk }}"></i></span>
            <small id="like-comment-count-{{ comment.pk }}" style="color:black">{{ comment.liked_users.all|length }}</small>
        {% else %}
            <span><i class="far fa-thumbs-up fa-lg like-comment-button" style="color:black" data-id="{{ comment.pk }}" data-article-id="{{ article.pk }}"></i></i></span>
            <small id="like-comment-count-{{ comment.pk }}" style="color:black">{{ comment.liked_users.all|length }}</small>
        {% endif %}
        <hr>
    {% empty %}
        <p>새 댓글을 써주세요!</p>
    {% endfor %}

</div>
<script>

    const likeArticleButton = document.querySelector('.like-article-button')
    const likeCommentButtonList = document.querySelectorAll('.like-comment-button')
    
    
    likeArticleButton.addEventListener('click', function(event){
    const articleId = event.target.dataset.id

    axios.get(`/community/${articleId}/like/`)
    .then((response) => {
        
        // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
        document.querySelector(`#like-article-count-${articleId}`).innerText = "(스크랩 : " + response.data.count + ")"
        console.log(response.data)
        if (response.data.article_liked) {
        event.target.style.color = 'rgb(31, 185, 0)'
        } else {
        event.target.style.color = 'black'
        }
    })
    .catch((error) => {
        console.log(error)
    })
    })

    likeCommentButtonList.forEach((likeButton) => {
        likeButton.addEventListener('click', function(event){
        const commentId = event.target.dataset.id
        const articleId = event.target.dataset.articleId
    
        axios.get(`/community/${articleId}/comment/${commentId}/like/`)
    
        .then((response) => {
            // response.data.count -> json으로 응답(해당 게시글에 좋아요를 누른 사람의 수)
            document.querySelector(`#like-comment-count-${commentId}`).innerText = response.data.count
            console.log(response.data)
            if (response.data.comment_liked) {
            event.target.style.color = '#0077ff'
            } else {
            event.target.style.color = 'black'
            }
        })
        .catch((error) => {
            console.log(error)
        })
        })
    })
</script>

{% endblock %}