{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block title %}Community{% endblock %}

{% block style %}
<style>
    .page-link{
        border-style: none;
        color: black;
    }
    .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #314357;
}
</style>
{% endblock %}


{% block context %}
<div class="container mt-5">
    <div class="w3-bar mb-3 d-flex justify-content-between">
        <div class="flex-fill">
        {% if request.path == '/community/' %}
            <a href="{% url 'community:community' %}" class="w3-bar-item w3-mobile text-dark text-decoration-none">
                <h5><strong>전체게시판</strong></h5>
             </a>
        {% else %}
            <a href="{% url 'community:community' %}" class="w3-bar-item w3-mobile text-muted text-decoration-none">
                <h5>전체게시판</h5> 
            </a>
        {% endif %}
        {% for board in boards %}
            <a href="{% url 'community:board' board.url_name %}" class="w3-bar-item w3-mobile text-muted text-decoration-none url_banner">
                <h5>{{ board.name }}</h5>
            </a> 
        {% endfor%}
        </div>
        <div class="align-self-center">
            <!-- <i class="fas fa-search"> | </i> -->
            {% if not now_board or now_board.name != '공지사항' %}
            <!-- {% if now_board %} -->
            <a href="{% url 'community:create_article' now_board.url_name %}" class="text-dark">
                <h5><i class="fas fa-edit"></i></a></h5>
            <!-- {% else %} -->
            <!-- <a href="{% url 'community:create_article_noboard' %}" class="text-dark"><i class="fas fa-edit"></i></a></h5> -->
            <!-- {% endif %} -->
            {% endif %}
        </div>
    </div>
    <div class="d-flex justify-content-between p-1"> 
        <h5>
            <!-- <a href="{%url 'community:community' %}" class="text-dark"><i class="fas fa-angle-double-left"></i></a> -->
            <!-- <a href="{%url 'community:community' %}" class="text-dark">커뮤니티</a> -->
            <!-- {% if now_board %}
                <i class="fas"> {{ now_board.name }} </i>
            {% else %}
                <i class="fas"> 전체 게시판 </i>
            {% endif %} -->
        </h5>
        
        
    </div>
    
    <div class="container mt-0 p-1">
        <hr class="my-2">
        <div class="row" >
            <div class="col-1 text-center">번호</div>
            {% if not now_board %}
            <div class="col-1 text-center">분류</div>
            <div class="col-4 text-center">제목</div>
            {% else %}
            <div class="col-5 text-center">제목</div>
            {% endif %}
            <div class="col-2 text-center">작성자</div>
            <div class="col-2 text-center">조회 수</div>
            <div class="col-2 text-center">작성일</div>
        </div>
        <hr class="my-2 mb-3">
        <tbody>
            {% if not now_board or now_board.name != '공지사항' %}
            {% for notice in noticed %}
            <div class="row">
                {% if not now_board %}
                <div class="col-1 text-center font-weight-bold">{{ notice.pk }}</div>
                <div class="col-1 text-center font-weight-bold">{{ notice.board.name_short }}</div>
                <div class="col-4">
                    <a href="{% url 'community:detail' notice.pk %}" class="text-dark article_title font-weight-bold">
                        {{notice.title}}
                    </a>
                </div>
                {% else %}
                <div class="col-1 text-center font-weight-bold">{{ notice.board.name_short }}</div>
                <div class="col-5">
                    <a href="{% url 'community:detail' notice.pk %}" class="text-dark article_title font-weight-bold">
                        {{notice.title}}
                    </a>
                </div>
                {% endif %}
                <!-- <div class="col-1 text-center">공지</div>
                <div class="col-5">
                    <a href="{% url 'community:detail' notice.pk %}" class="text-dark article_title">
                        {{notice.title}}
                    </a>
                </div> -->
                <div class="col-2 text-center font-weight-bold">{{ notice.author }}</div>
                <div class="col-2 text-center font-weight-bold">{{ notice.hits }}</div>
                <div class="col-2 text-center font-weight-bold">
                    <!-- 오늘 날짜면 시간만 / 아니면 날짜 출력 -->
                    {% if notice.created_at|date:"Y-m-d" == nowDate %}
                        {{ notice.created_at | date:"H:i" }}
                    {% else %}
                        {{ notice.created_at | date:"Y-m-d" }}
                    {% endif %}
                </div>
            </div>
            <hr class="my-2">
            {% endfor %}
            {% endif %}
            {% if page_obj %}
                {% for article in page_obj %}
                    <div class="row">
                        <div class="col-1 text-center">{{ article.pk }}</div>
                        {% if not now_board %}
                        <div class="col-1 text-center">{{ article.board.name_short }}</div>
                        <div class="col-4">
                            <a href="{% url 'community:detail' article.pk %}" class="text-dark article_title">
                                {{article.title}}
                            </a>
                        </div>
                        {% else %}
                        <div class="col-5">
                            <a href="{% url 'community:detail' article.pk %}" class="text-dark article_title">
                                {{article.title}}
                            </a>
                        </div>
                        {% endif %}
                        <div class="col-2 text-center">{{ article.author }}</div>
                        <div class="col-2 text-center">{{ article.hits }}</div>
                        <div class="col-2 text-center">
                            <!-- 오늘 날짜면 시간만 / 아니면 날짜 출력 -->
                            {% if article.created_at|date:"Y-m-d" == nowDate %}
                                {{ article.created_at | date:"H:i" }}
                            {% else %}
                                {{ article.created_at | date:"Y-m-d" }}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    
                {% endfor %}
            {% else %}
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center">아직 새로운 글이 올라오지 않았어요</div>
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center whitespace"></div>
                <div class="col-12 text-center whitespace"></div>
                
            {% endif %}
        </tbody>
    </div>
    
    <!-- pagination -->
    <div class="d-flex justify-content-center">
    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
    
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const whitespace = '\u00A0'
    $(document).ready(function() {
        const URL = $(location).attr('pathname')
        $(".url_banner").each(function(){
            var board_name = $(this).text()
            console.log(board_name)
            if ($(this).attr('href') ==  URL) {
                $(this).html("<h5><strong>"+board_name+"</strong></h5>")
                $(this).removeClass("text-muted")
                $(this).addClass("text-dark")
            }
        
            
        })



        // 제목 줄이기
        const ContextHeight = $('#Main_Context').outerHeight()
        const LengthLimit = 30
        $(".article_title").each(function(){
            var title = $.trim($(this).text())
            if (title.length > 30){
                title = title.substring(1, LengthLimit) + '...'
                $(this).text(title)
            }
        })
        
    })
    $('.whitespace').text(whitespace)
</script>
{% endblock %}