{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block title %}Community{% endblock %}

{% block context %}
    <div class="d-flex justify-content-between"> 
        <h5>
            <!-- <a href="{%url 'community:community' %}" class="text-dark"><i class="fas fa-angle-double-left"></i></a> -->
            <!-- <a href="{%url 'community:community' %}" class="text-dark">커뮤니티</a> -->
            <i class="fas"> 전체 게시판 </i>
        </h5>
        <div class="align-self-center">
            <h5>
                <!-- <i class="fas fa-search"> | </i> -->
            <a href="{% url 'community:create_article' %}" class="text-dark"><i class="fas fa-edit"></i></a></h5>
        </div>
        
    </div>
    
    <div class="container mt-3">
        <hr class="my-2">
        <div class="row" >
            <div class="col-6 text-center">제목</div>
            <div class="col-2 text-center">작성자</div>
            <div class="col-2 text-center">댓글 수</div>
            <div class="col-2 text-center">작성일</div>
        </div>
        <hr class="my-2">
        <tbody>
            {% for article in page_obj %}
                <div class="row">
                    <div class="col-6">
                        {{ article.comment_set }}
                        <a href="{% url 'community:detail' article.pk %}" class="text-dark">{{article.title}}</a>
                    </div>
                    <div class="col-2">{{ article.author }}</div>
                    <div class="col-2 text-center">{{ article.comment_set.all|length }}</div>
                    <div class="col-2 text-center">
                        <!-- 오늘 날짜면 시간만 / 아니면 날짜 출력 -->
                        {% if article.created_at|date:"Y-m-d" == nowDate %}
                            {{ article.created_at | date:"H:i" }}
                        {% else %}
                            {{ article.created_at | date:"Y-m-d" }}
                        {% endif %}
                        </div>
                </div>
                <hr class="my-2">
                
            {% endfor %}
        </tbody>
    </table>
</div>
    <div class="d-flex justify-content-center">
    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
    </div>
{% endblock %}