{% extends 'base.html' %}
{% load bootstrap4 %}
<!-- Page Title -->
{% block title %}
{% if request.resolver_match.url_name == 'signup' %}
    회원가입   
{% elif request.resolver_match.url_name == 'login' %}
    로그인  
{% elif request.resolver_match.url_name == 'update' %}
    회원 정보 수정 
{% else %}
    비밀번호 변경
{% endif %}
{% endblock %}


<!-- Context -->
{% block context %}

<!-- Modal -->
<class class="modal fade" id="UserDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">삭제</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        탈퇴 시, 해당 계정으로 등록한 모든 데이터가 삭제됩니다.<br>
        정말로 탈퇴하시겠습니까?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
        <a class="btn btn-danger btn-md" href="{% url 'accounts:delete' %}" role="button">삭제</a>
    </div>
    </div>
</div>
</class>


<div class="container border border-secondary rounded p-4 mt-5">
{% if request.resolver_match.url_name == 'signup' %}
    <h2>회원가입</h2>
{% elif request.resolver_match.url_name == 'login' %}
    <h2>로그인</h2>
{% elif request.resolver_match.url_name == 'update' %}
    <h2>회원 정보 수정</h2>
{% else %}
    <h2>비밀번호 변경</h2>
{% endif %}

<hr class="border border-info bg-info">
<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% if request.resolver_match.url_name == 'signup' %}
        <button class="w3-button w3-teal">회원가입</button>
    {% elif request.resolver_match.url_name == 'login' %}
        <button class="w3-button w3-teal">로그인</button>
        <a href="{% url 'accounts:signup' %}" class='w3-button btn-secondary'>가입하기</a>
    {% elif request.resolver_match.url_name == 'update' %}
        <button class="w3-button w3-teal">수정</button>
        <a href="{% url 'accounts:delete' %}" class='w3-button w3-red w3-hover-red' data-toggle="modal" data-target="#UserDelete">회원탈퇴</a>
    {% else %}
        <button class="w3-button w3-teal">수정</button>
    {% endif %}
</form>

{% endblock %}