{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
PROFILE
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block style %}
<style>
  .card-body, .movie_title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
{% endblock %}
{% block context %}
<!-- 프로필 -->
<div class="container my-5 w3-border-bottom">
    <h3><i class="fas fa-user-circle align-self-center mx-3 py-3"></i>{{ user.username }}님의 프로필</h3>
    
    {% if request.user.is_superuser %}
    <p class="text-lg" style="font-size: large;">이름 : {{ user.first_name }} {{ user.last_name }}</p>
    <div class="d-flex justify-content-between">
        <p class="text-lg" style="font-size: large;">이메일 : {{ user.email }}</p>
        <div>
            <a href="/admin/" class="text-dark mr-3">관리자페이지</a>
            <a href="{% url 'accounts:update' %}" class="text-dark ">회원정보수정</a>
        </div>
    </div>  
    {% else %}
    <p class="text-lg" style="font-size: large;">이름 : {{ user.first_name }} {{ user.last_name }}</p>
    <div class="d-flex justify-content-between">
        <p class="text-lg" style="font-size: large;">이메일 : {{ user.email }}</p>
        <a href="{% url 'accounts:update' %}" class="text-dark ">회원정보수정</a>
    </div>
    {% endif %}
    
    
</div>

<div class="container mb-5">
    <h4 class="mb-4"><i class="fas">{{ user.username }}님이 좋아하는 영화 </i></h4>
    <hr>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000000">
        <div class="carousel-inner row w-100 mx-0">
            {% if movies %}  
                <div class="carousel-item col-md-3 active mx-0">
                    <div class="movie_card">
                        <div class="card h-100">
                        <!-- 영화 이미지 -->
                          <a href="{% url 'movies:detail' first_movie.pk %}">
                            {% if first_movie.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w342/{{ first_movie.poster_path }}" alt="{{ first_movie.title }}" class=" card-img-top ReSizeImage w-100">
                            {% else %}
                            <img src="{% static 'image/noimage_index.png' %}" alt="{{ first_movie.title }}" class=" card-img-top ReSizeImage border border-gray w-100">
                            {% endif %}
                          </a>
                          <!-- 영화 제목, 좋아요, 평점, 개봉일 -->
                          <div class="card-body">
                                <!-- 영화 제목 -->
                                <a href="{% url 'movies:detail' first_movie.pk %}" class="text-dark text-decoration-none">{{ first_movie.title }}</a>
                                <hr>
                                <!-- 평점 & 좋아요 -->
                                <div class="container-fluid px-0">
                                    <div class="d-flex justify-content-between">
                                        <div class="flex-fill">
                                            <span><i class="fas fa-star" style="color:crimson">{{ first_movie.vote_average }}</i></span>
                                        </div>  
                                        <div>
                                            {% if request.user in first_movie.liked_users.all %}
                                                {% if request.user.is_authenticated %}
                                                    <i class="fas fa-heart like-button align-self-center" style="color:crimson" data-id="{{ first_movie.pk }}"></i>
                                                {% else %}
                                                    <i class="fas fa-heart align-self-center" style="color:crimson" onclick="alert('로그인이 필요합니다.')"></i>
                                                {% endif %}
                                            {% else %}
                                                {% if request.user.is_authenticated %}
                                                    <i class="fas fa-heart like-button align-self-center" style="color:black" data-id="{{ first_movie.pk }}"></i>
                                                {% else %}
                                                    <i class="fas fa-heartalign-self-center" style="color:black" onclick="alert('로그인이 필요합니다.')"></i>
                                                {% endif %}
                                            {% endif %}
                                            <span id="like-count-{{ first_movie.pk }}">{{ first_movie.liked_users.all|length }}</span>
                                        </div>
                                    </div>  
                                </div>  
                          </div>

                
                        </div>
                    </div>
                </div>
                {% for movie in rest_movies %}
                <div class="carousel-item col-md-3 mx-0">
                    <div class="movie_card">
                        <div class="card h-100">
                        <!-- 영화 이미지 -->
                            <a href="{% url 'movies:detail' movie.pk %}">
                            {% if movie.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" alt="{{ movie.title }}" class=" card-img-top ReSizeImage w-100">
                            {% else %}
                            <img src="{% static 'image/noimage_index.png' %}" alt="{{ movie.title }}" class=" card-img-top ReSizeImage border border-gray w-100">
                            {% endif %}
                            </a>
                            <!-- 영화 제목, 좋아요, 평점, 개봉일 -->
                            <div class="card-body">
                                <!-- 영화 제목 -->
                                <a href="{% url 'movies:detail' movie.pk %}" class="text-dark text-decoration-none">{{ movie.title }}</a>
                                <hr>
                                <!-- 평점 & 좋아요 -->
                                <div class="container-fluid px-0">
                                    <div class="d-flex justify-content-between">
                                        <div class="flex-fill">
                                            <span><i class="fas fa-star" style="color:crimson">{{ movie.vote_average }}</i></span>
                                        </div> 
                                        <div>
                                            {% if request.user in movie.liked_users.all %}
                                                {% if request.user.is_authenticated %}
                                                    <i class="fas fa-heart like-button align-self-center" style="color:crimson" data-id="{{ movie.pk }}"></i>
                                                {% else %}
                                                    <i class="fas fa-heart align-self-center" style="color:crimson" onclick="alert('로그인이 필요합니다.')"></i>
                                                {% endif %}
                                            {% else %}
                                                {% if request.user.is_authenticated %}
                                                    <i class="fas fa-heart like-button align-self-center" style="color:black" data-id="{{ movie.pk }}"></i>
                                                {% else %}
                                                    <i class="fas fa-heartalign-self-center" style="color:black" onclick="alert('로그인이 필요합니다.')"></i>
                                                {% endif %}
                                            {% endif %}
                                            <span id="like-count-{{ movie.pk }}">{{ movie.liked_users.all|length }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                        </div>
                </div>
                {% endfor %}

            {% else %}
            <p class="my-3 text-muted">아직 좋아하는 영화가 없어요 ㅠㅠ</p>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-4">
                <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                    <i class="fa fa-lg fa-chevron-left"></i>
                </a>
                <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                    <i class="fa fa-lg fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>


  
<div class="container mt-0 mb-5 p-1">
    <h4 class="mb-3"> 작성하신 게시글 </h4>
    <hr class="my-2">
    <div class="row" >
        <div class="col-1 text-center">분류</div>
        <div class="col-5 text-center">제목</div>
        <div class="col-2 text-center">스크랩</div>
        <div class="col-2 text-center">조회 수</div>
        <div class="col-2 text-center">작성일</div>
    </div>
    <hr class="my-2">
    <tbody>
        {% for article in user.article_set.all %}
            <div class="row">
                <div class="col-1 text-center">{{ article.board.name_short }}</div>
                <div class="col-5">
                    <a href="{% url 'community:detail' article.pk %}" class="text-dark">{{article.title}}</a>
                </div>
                <div class="col-2 text-center">{{ article.liked_users.all|length }}</div>
                <div class="col-2 text-center">{{ article.hits }}</div>
                <div class="col-2 text-center">
                    <!-- 오늘 날짜면 시간만 / 아니면 날짜 출력 -->
                    {% if article.created_at|date:"Y-m-d" == nowDate %}
                        {{ article.created_at | date:"H:i" }}
                    {% else %}
                        {{ article.created_at | date:"Y-m-d" }}
                    {% endif %}
                </div>
            </div>
            <hr class="my-2">
            
        {% endfor %}
    </tbody>
</div>


<div class="container mt-0 p-1">
    <h4 class="my-2"> 스크랩한 게시글 </h4>
    <hr class="my-2">
    <div class="row" >
        <div class="col-1 text-center">분류</div>
        <div class="col-5 text-center">제목</div>
        <div class="col-2 text-center">작성자</div>
        <div class="col-2 text-center">조회 수</div>
        <div class="col-2 text-center">작성일</div>
    </div>
    <hr class="my-2">
    <tbody>
        {% for article in user.liked_articles.all %}
            <div class="row">
                <div class="col-1 text-center">{{ article.board.name_short }}</div>
                <div class="col-5">
                    <a href="{% url 'community:detail' article.pk %}" class="text-dark">{{article.title}}</a>
                </div>
                <div class="col-2 text-center">{{ article.author }}</div>
                <div class="col-2 text-center">{{ article.hits }}</div>
                <div class="col-2 text-center">
                    <!-- 오늘 날짜면 시간만 / 아니면 날짜 출력 -->
                    {% if article.created_at|date:"Y-m-d" == nowDate %}
                        {{ article.created_at | date:"H:i" }}
                    {% else %}
                        {{ article.created_at | date:"Y-m-d" }}
                    {% endif %}
                </div>
            </div>
            <hr class="my-2">
            
        {% endfor %}
    </tbody>
</div>

{% endblock %}


{% block script %}
<script>

(function ($) {
  "use strict";
  // Auto-scroll
  $('#myCarousel').carousel({
    interval: 5000000000
  });

  // Control buttons
  $('.next').click(function () {
    $('.carousel').carousel('next');
    return false;
  });
  $('.prev').click(function () {
    $('.carousel').carousel('prev');
    return false;
  });

  // On carousel scroll
  $("#myCarousel").on("slide.bs.carousel", function (e) {
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 4;
    var totalItems = $(".carousel-item").length;
    if (idx >= totalItems - (itemsPerSlide - 1)) {
      var it = itemsPerSlide -
          (totalItems - idx);
      for (var i = 0; i < it; i++) {
        // append slides to end 
        if (e.direction == "left") {
          $(
            ".carousel-item").eq(i).appendTo(".carousel-inner");
        } else {
          $(".carousel-item").eq(0).appendTo(".carousel-inner");
        }
      }
    }
  });
})
(jQuery);

// 이미지 resize
$(document).ready(function(){
$('.ReSizeImage').each(function(){
    var width = 154
    var ratio = 1.5
    $(this).css("width", 154)
    $(this).css("height", width*ratio)

    })
})

// 좋아요
$('.like-button').on('click',function(event){
      const movieId = event.target.dataset.id
      if (movieId !== undefined) {
        axios.get(`/movies/${movieId}/like/`)

        .then((response) => {

          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count

          if (response.data.movie_liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
        })
        .catch((error) => {
          console.log(error)
        })
      }
    })
</script>
{% endblock %}
