<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- w3 school - style css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% bootstrap_css %}
    {% block head %}
    {% endblock %}
</head>
{% block style %}
{% endblock %}
<style>
    #myHeader {
        /* background-image: url('{% static "image/back1.jpg" %}'); */
        background-color: lightgray;
        background-size: cover;
    }
    .baseMainMargin{
        margin-left:300px;
    }
</style>
<body id="myPage">
    {% if messages %}
        {% bootstrap_javascript jquery=True %}
        {% bootstrap_messages %}
    {% endif %}
    {% if request.resolver_match.url_name != 'main' or request.user.is_authenticated %}
    <!-- SIDEBAR -->
    <div class="w3-sidebar w3-collapse w3-white w3-large" style="z-index:3;width:300px;" id="mySidebar">        
        <div class="w3-black d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-user-circle align-self-center mx-3 py-3">  
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'accounts:profile' %}" class="w3-text-light-grey">{{ request.user.username }}</a>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="w3-text-light-grey">로그인</a>
                    {% endif %}
                </i>
                <a class="w3-button w3-hover-black w3-hide-large w3-large w3-right mx-3 px-0" href="javascript:void(0)" onclick="w3_close()">×</a>
            </div>
        </div>
        <!-- Menu -->
        <div
         id="nav01" class="w3-bar-block">
         <a class="w3-bar-item w3-button text-decoration-none" href="{% url 'movies:main' %}">홈</a>
            <a class="w3-bar-item w3-button text-decoration-none" href="{% url 'movies:index' %}">전체 영화</a>
            <a class="w3-bar-item w3-button text-decoration-none" href="{% url 'community:community' %}">커뮤니티</a>
            {% if request.user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="w3-bar-item w3-button text-decoration-none">로그아웃</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:signup' %}" class="w3-bar-item w3-button text-decoration-none">회원가입</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <!-- HEADER -->
    <div class="container-fluid  w3-overlay w3-hide-large" onclick="w3_close()" style=" cursor:pointer" id="myOverlay"></div>
        <div id="baseMain" class="w3-main" > 
            <div id="myHeader">
                
                {% if request.resolver_match.url_name != 'main' or request.user.is_authenticated%}
                    <!-- SIDEBAR button -->
                    <div class="w3-top w3-large w3-hide-large">
                        <i class="fa fa-bars w3-button w3-xlarge" onclick="w3_open()"></i>
                    </div>
                {% endif %}
                <header class="w3-container w3-padding-64 w3-center">
                    <h1 class="w3-xxxlarge w3-padding-16">
                        <div>
                        <a href="{% url 'movies:main' %}" class="text-decoration-none w3-text-light-gray">
                            <!-- LOGO IMAGE -->
                            <img src="{% static 'image/logo4.png' %}" alt="LOGO" size="width:100px">
                        </a>
                        </div>
                        
                    </h1>
                </header>
            </div>
            <!-- CONTEXT -->
            <div>
                {% block context %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // openNav("nav01");
        // function openNav(id)/ {
            // document.getElementById("nav01").style.display = "block";
        // }

    $(document).ready(function(){
        if ("{{ request.resolver_match.url_name }}" != "main" || "{{ request.user }}" != "AnonymousUser") {
            $("#baseMain").addClass("baseMainMargin")
        }
        
        
    })

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% bootstrap_javascript jquery='full' %}
    {% block script %}
    {% endblock %}

</body>

</html>